
.image{
    height: 70px;
    width: 80px;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
}
p{
    margin-right: auto;
    margin-left: auto;
}
footer{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
ion-title{
    text-align: center;
}
// .butting{
//     padding: 20px;
//     align-items: center;
//     background: rgba(0, 132, 255, 0.671);
//     color: white;
// }
// .buttmanag{
//     padding: 20px;
//     align-items: center;
//     background: red;
//     color: white;
// }
// .buttprepavogt{
//     padding: 20px;
//     align-items: center;
//     background: #a20795;
// }
// .buttprepa{
//     padding: 20px;
//     align-items: center;
//     background: rgba(0, 132, 255, 0.671);
//     color: white;
// }