<ion-header> 
  <ion-toolbar>
   <ion-title>Les ecoles de l'iusj</ion-title>
 </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-button expand="block" class="main-button" color="primary" (click)="openmenu('ingenieur')" class="butting">
    <img src="../assets/image/ingenieur1.jpg" alt="" class="image">
    <p>Saint jean ingenieur</p>
  </ion-button>
  <ion-note>École d'ingénieur en informatique  </ion-note>


  <ion-button expand="block" class="main-button" color="rouge" (click)="openmenu('management')" class="buttmanag">
    <img src="../assets/image/management.jpeg" alt="" class="image">
    <p>Saint jean management</p>
  </ion-button>
  <ion-note>École de management</ion-note>
  

  <ion-button expand="block" class="main-button" color="violet" (click)="openmenu('Prepavogt')" class="buttprepavogt">
    <img src="../assets/image/prevavogt.webp" alt="" class="image">
    <p>Prepavogt</p>
  </ion-button>
  <ion-note>pour les études à l’international </ion-note>

  <ion-button expand="block" class="main-button" color="primary" (click)="openmenu('prepa')" class="buttprepa">
    <img src="../assets/image/ingenieur.jpg" alt="" class="image">
    <p>prepa Saint jean</p>
  </ion-button>
  <ion-note>Prépa Saint Jean est un Institut Privé d'Enseignement Supérieur .</ion-note>


  </ion-content>
  <footer>@NgouoLEO2024</footer>