<ion-app>
  <ion-menu menuId="ingenieur" contentId="main-content">
    <ion-content class="inge"  color="primary">
      <h1>Nos formations</h1>
      <ul>
        <li>master professionel</li>
        <li>cycle ingenieur</li>
        <li>cycle licence professionel</li>
      </ul>
    </ion-content>
  </ion-menu>
  <ion-menu menuId="management"  contentId="main-content">
    <ion-content class="management" color="rouge">
      <h1>Nos formations</h1>
      <ul>
        <li>management et finance</li>
        <li>Management et technique quantitative</li>
        <li>Marqueting et communication</li>
        <li>cycle master</li>
      </ul>
    </ion-content>
  </ion-menu>
  <ion-menu menuId="Prepavogt"  contentId="main-content">
    <ion-content color="violet">
      <h1>Nos formations</h1>
      <ul>
        <li>ingenieur generaliste</li>
        <li>ingenieur en genie civil</li>
        <li>management et finance </li>
        <li>sciences politique et humanites</li>
        <li>Ingenieur en Geoscience , Environnement et Agro-Industrie</li>
      </ul>
    </ion-content>
  </ion-menu>
  <ion-menu menuId="prepa" contentId="main-content" >
    <ion-content color="primary">
      <h1>Nos formations</h1>
      <ul>
        <li>Filiere ingenieur</li>
        <li>Filiere management et finance</li>
        <li>filiere saint jean ingenieur</li>
      </ul>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>