<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="light">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
  <ion-note></ion-note>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
         <img src="assets/img/logo.png" alt="">
    </ion-card>
      <ion-item>
      Nom du site: Leo_fruity
    </ion-item>


  <ion-card>
<img src="assets/img/leo.jpg" alt="">
</ion-card>
<ion-item>
  Nom : M. Ngouo Franck Leonel
</ion-item>


</ion-content>
<ion-footer >copyright@2024</ion-footer>

