<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="accueil">
      <ion-icon name="home" size="large"></ion-icon>
      <ion-label color="light">Acceuil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favorie">
      <ion-icon name="telescope-outline"></ion-icon>
      <ion-label color="light">Favorie</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="apropos">
      <ion-icon name="alert"></ion-icon>
      <ion-label color="light">apropos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
